<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @asset.statuses.order("created_at DESC").each do |status| %>
      <tr>
        <td><%= visualize_status status.state %></td>
        <td><%= link_to status.name, status %></td>
        <td><%= status.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
