<div class="page-header">
  <h1>Computers <small>Overview</small></h1>
</div>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Serial</th>
      <th>Product name</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= link_to asset.name, asset %></td>
        <td><%= asset.product_name %></td>
        <td><%= asset.location %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav class="contextual">
  <ul class="nav nav-pills">
    <li><%= link_to 'New computer', new_asset_computer_path %></li>
  </ul>
</nav>
