<div class="page-header">
  <h1>Computers <small>New computer</small></h1>
</div>

<%= render 'form' %>

<nav>
  <ul class="nav nav-pills">
    <li><%= link_to 'Back', asset_computers_path %></li>
  </ul>
</nav>
