<div class="page-header">
  <h1>Statuses <small>Overview</small></h1>
</div>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Asset</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @statuses.each do |status| %>
      <tr>
        <td><%= visualize_status status.state %></td>
        <td><%= link_to status.name, status %></td>
        <td><%= link_to status.asset.name, status.asset %></td>
        <td><%= status.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
