<div class="page-header">
  <h1>Revisions <small>Overview</small></h1>
</div>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Asset</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @revisions.each do |revision| %>
      <tr>
        <td><%= revision.revisionable.name %></td>
        <td><%= link_to 'Show', revision %></td>
      </tr>
    <% end %>
  </tbody>
</table>
