<div class="page-header">
  <h1>Revisions <small>Details for a revision</small></h1>
</div>

<p>
  <strong>Changes:</strong>
  <%= @revision.data %>
</p>

<nav>
  <ul class="nav nav-pills">
    <li><%= link_to 'Back', revisions_path %></li>
  </ul>
</nav>
