<div class="page-header">
  <h1>Assets <small>Overview</small></h1>
</div>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Serial</th>
      <th>Product name</th>
      <th>Type</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= asset.name %></td>
        <td><%= asset.product_name %></td>
        <td><%= asset.type %></td>
        <td><%= link_to 'Details', asset %></td>
      </tr>
    <% end %>
  </tbody>
</table>
