<div class="jumbotron" style="border-radius: 0.5em">
  <div class="container">
    <div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
      <span class="pull-right glyphicon glyphicon-scale" style="font-size: 12em;"></span>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-10">
      <h1>NeinDB</h1>
      <p>Keeping track of your assets</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Stats 1</h4>
      </div>
      <div class="panel-body">
        <p>Stuff</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Stats 2</h4>
      </div>
      <div class="panel-body">
        <p>Stuff</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Stats 3</h4>
      </div>
      <div class="panel-body">
        <p>Stuff</p>
      </div>
    </div>
  </div>
</div>
