<div class="page-header">
  <h1>NICs <small>Overview</small></h1>
</div>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Part number</th>
      <th>Vendor</th>
      <th>Type</th>
      <th>Size</th>
    </tr>
  </thead>

  <tbody>
    <% @components.each do |component| %>
      <tr>
        <td><%= link_to component.name, component %></td>
        <td><%= component.vendor %></td>
        <td><%= component.ram_type %></td>
        <td><%= number_to_human_size component.size_bytes %></td>
      </tr>
    <% end %>
  </tbody>
</table>
