/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "*";

html, body {
  width: 100%;
  height: 100%;
}

main {
  padding: 0em 3em;
}

footer {
  padding: 1em 3em;
  text-align: center;
  font-size: 65%;
  color: #777;
}

.flash {
  padding: 0em 5em;
}

.contextual {
  margin: 1em 0em;
}

div.show-summary {
  h2 {
    font-size: 150%;
  }
  dl {
    & dt {
      display: inline-block;
      padding: 5px 15px;
      @extend .col-sm-3;
    }
    & dd {
      display: inline-block;
      padding: 5px 15px;
      @extend .col-sm-9;
    }
  }
}
