<div class="page-header">
  <h1>Reports <small>Overview</small></h1>
</div>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Status</th>
      <th>Starttime</th>
      <th>Endtime</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= color_status report.status %></td>
        <td><%= l report.starttime %></td>
        <td><%= l report.endtime %></td>
        <td><%= link_to 'Details', report %></td>
      </tr>
    <% end %>
  </tbody>
</table>
