<h1>Listing Reports</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Starttime</th>
      <th>Endtime</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.status %></td>
        <td><%= report.starttime %></td>
        <td><%= report.endtime %></td>
        <td><%= link_to 'Show', report %></td>
      </tr>
    <% end %>
  </tbody>
</table>
